html, body, #root, .center-container {
  height: 100%;
}

body {
  background: #eee;
}

.users-form .form-item {
  display: block;
  margin: 16px 0;
}

.users-form {
  padding: 24px;
}

.users-form .form-input .MuiInputBase-formControl{
  width: 100%;
}

.validation-error {
  font-size: 11px;
  color: red
}

